.code {
    --bg-focus: var(--theme-code-bg-focus);
    --border-focus: var(--theme-code-border-focus);

    display: flex;
    gap: 1rem;
}

.code__digit {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 1.2rem;
    user-select: none;
    caret-color: transparent;
    cursor: text;

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 3.2rem;
        line-height: 5rem;
        text-align: center;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0.7rem;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 0.1rem solid transparent;
        height: 0.1rem;
        width: 2.2rem;
    }

    &:focus-within {
        background-color: var(--bg-focus);
        border: 0.1rem solid var(--border-focus);

        &::after {
            border-bottom: 0.1rem solid var(--border-focus);
        }
    }
}
