.header {
    padding: 2rem 4rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--theme-primary-color);
    }

    &__btn {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 2rem;

        &__avatar {
            min-width: 5rem;
            max-width: 5rem;
            height: 5rem;
            background-color: #cccccc;
            border-radius: 50%;
        }
    }
}
