.button {
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .2s;
    cursor: pointer;
}