.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
        padding: 0rem 4rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
    }
}
