.menu__header {
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 4rem;
    cursor: pointer;

    &__title {
        font-size: 1.6rem;
        font-weight: 500;
    }
}
